div.container {
    diplay: flex;
    flex-direction:  column;
}
div.container div.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}

.widget,.controller,.col {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    max-width:551px;
    min-width:400px;
}


.enter {
    font: bold 20px monospace;
    fill: green;
}

.update {
    font: bold 20px monospace;
    fill: red;
}
.exit {
    font: bold 20px monospace;
  fill: brown;
}


.grid {
  fill: #eee;
}

.grid:hover {
  fill: orange;
}

.havedata.redvmt {
    fill: red;
}
.havedata.greenvmt {
    fill:green;
}

.grid.active {
    fill: #449;
}
.grid.active:hover {
    fill: #e4f;
}
